{% extends "layout/base.html.jinja" %}
{% block body %}
    <div class="container-xl my-md-4">
    <main class="article-main">
      <div class="article-intro ps-lg-4">
        <h1 class="article-title" id="content">Fact Verification</h1>
        <p class="article-lead">Fact Verification (FV) is a subtask of Fact Extraction and VERification (FEVER) and can be formulated as whether the relationship of given claim and evidence is refute, support, or not enough information <a href="https://aclanthology.org/2021.naacl-main.71/">[Du et al., 2021]</a> <a href="https://arxiv.org/abs/1803.05355">[Thorne et al., 2018]</a>.</p>
      </div>
        <div class="article-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted">
          <strong class="d-block h6 my-2 pb-2 border-bottom">Page contents</strong>
          <nav class="table-of-contents">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#task">Task</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#fever-dataset">FEVER Dataset</a>
                </li>
                </ul>
            </nav>
        </div>
      

      <div class="article-content ps-lg-4">
        <h2 class="mt-5">Task</h2>
        <p>
            FV is a classification task that is a subtask of the Fact Extraction and Verification task. Fact Extraction and Verification
            consists of automatically extracting and verifying facts from textual sources. The FV subtask aims to infer whether the relationship
            between two sentences is that the first attacks or supports the second, or whether there is not enough information to refute or support the second
            sentence.
        </p>
        <p>
            Since it is a classification task, the model uses the output corresponding to the <em>[CLS]</em> to make the prediction. The prediction is done
            with a Feed Forward neural network and a <a href="https://machinelearningmastery.com/softmax-activation-function-with-python/">softmax layer</a>,
            giving the confidence of each possible classification label.
        </p>
        <figure>
          <img class="guide-image img-fv" src="{{url_for('static', filename='img/fact_verification.png')}}">
          <figcaption>Figure 1. Fact Verification. The softmax layer actually gives the confidence in each possible answer. The predicted answer can be
          picked as the one with the most confidence.</figcaption>
        </figure>

        <h2 class="mt-5">FEVER Dataset</h2>

        <p>
            The <a href="https://fever.ai/dataset/fever.html">Fever Dataset</a> was introduced in 
            <a href="https://arxiv.org/abs/1803.05355"><em>FEVER: a large-scale dataset for Fact Extraction and VERification</em></a> and
            consists of 185,445 claims generated by altering sentences extracted from Wikipedia and subsequently verified without knowledge of the sentence they were derived from.
        </p>
        
        <figure>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Claim</th>
                <th scope="col">Evidence</th>
                <th scope="col">Label</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="col">Saturn is larger than Jupiter</td>
                    <td scope="col">Saturn is the sixth planet from the sun and the second largest in the solar system, after Jupiter.</td>
                    <td scope="col">Attacks</td>
                </tr>
                <tr>
                    <td scope="col">Down with love is only a book.</td>
                    <td scope="col">Down with love is a 2003 novel by richard gear.</td>
                    <td scope="col">Supports</td>
                </tr>
            </tbody>
          </table>
          <figcaption>Figure 2. Some FEVER Corpus entries.</figcaption>
        </figure>
      </div>
    </main>
  </div>
{% endblock %}
