<div class="container mt-4">
    <hr>
    <footer>
        <p class="mb-0 copyright">Copyright &copy; Pedro Gonçalo Correia 2022</p>
        <p class="mb-0 copyright">This website and its content is licensed under the <a href="https://github.com/Goncalerta/AttentiveBERT/blob/main/LICENSE">GNU GENERAL PUBLIC LICENSE v3</a>.</p>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link ps-0" href="mailto: pedrogoncalocorreia@hotmail.com"><i class="bi bi-envelope"></i> pedrogoncalocorreia@hotmail.com</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ps-0" href="https://github.com/Goncalerta"><i class="bi bi-github"></i> Github</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ps-0" href="https://www.linkedin.com/in/pedro-goncalo-correia/"><i class="bi bi-linkedin"></i> Linkedin</a>
            </li>
        </ul>
    </footer>
</div>